html {
  height: 100%;
  overflow: auto;
}
body.dashboard {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  padding-top: 56px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $font-family-serif;
}

.btn {
  -webkit-font-smoothing: antialiased;
}

.btn, a {
  &:active, &:focus, &:active:focus {
    outline: none;
    box-shadow: none;
  }
}

.col-center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  margin-bottom: 0;
}

.uppercase {
  text-transform: uppercase;
}

.navbar-brand {
  position: relative;
  padding-left: 67px;
}

.navbar-brand img {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 42px;
}

// .navbar-nav li {
//   span, a {
//     -webkit-font-smoothing: antialiased;
//   }
// }

// colors

.bg-gray {
  @include theme-bg(#333, #fff, #fff);
}

.bg-purple {
  @include theme-bg(#9966ee, #fff, #fff)
}

hr.seam {
  clear: both;
  display: block;
  height: 0px;
  border-top: 1px solid rgba(darken(#eee, 8%), .8);
  border-bottom: 1px solid rgba(lighten(#eee, 5%), .8);
}

// main

.l-main {
  left: 0;
  padding-left: $sidebar-width;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.l-sidebar {
  position: absolute;
  min-height: 100%;
  overflow: visible;
  width: $sidebar-width;
  margin-left: -($sidebar-width);
  z-index: 1000;
  background-color: #333;
  // border-top: 2px solid #494949;
  .l-inner {
    position: fixed;
    width: $sidebar-width;
    background-color: #2a2a2a;
  }
}

.l-content {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .l-main {
    left: 0;
    padding-left: 0;
  }
  .l-content {
    padding: 0;
  }
}

.hide-sidebar {
  left: 0;
  padding-left: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #494949;
  a {
    display: block;
    padding: 10px 15px 10px 45px;
    color: #ddd;
    &:hover, &.selected {
      text-decoration: none;
      background-color: #222;
      color: #fff;
    }
  }
  .header a, .header {
    color: #aaa;
    text-transform: uppercase;
    background-color: #333;
    display: block;
    padding: 10px 15px 10px 20px;
    border-top: 1px solid #494949;
    border-bottom: 1px solid #212121;
    &:hover {
      color: #aaa;
    }
  }

  .iconic {
    width: 25px;
  }
}

.page-title {
  color: #C40022;
  margin: 14px 0;
}

.table-responsive {
  border: none;
}
