<div class="l-content">
  <h2 class="page-title">Monitoring</h2>
  <button type="button" class="btn btn-primary">Add Entity</button>
  <button type="button" class="btn btn-default">Remove</button>
  <div class="table-responsive" style="max-height: 100%; min-height: 100%;">
    <table class="table" style="margin-top:10px;" ng-show="entities.length > 0">
      <thead>
        <tr>
          <th></th>
          <th>Label</th>
          <th>Tags</th>
          <th>IPv4</th>
          <th>CPU</th>
          <th>Memory</th>
          <th>Network</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entity in entities">
          <td><input type="checkbox"></td>
          <td>
            <a ng-href="#/entities/{{entity.id}}" ng-click="setEntity(entity)" title="{{entity.id}}">{{entity.label}}</a>
            <span ng-if="entity.uri" class="iconic iconic-rackspace" title="Rackspace Cloud Product" aria-hidden="true" style="padding-left:5px; color: #666;"></span>
          </td>
          <td><!-- {{entity.id}} -->
            <span class="label label-outline" ng-class="{hidden : $index%3==0}">web</span>
            <span class="label label-outline" ng-class="{hidden : $index%2==0}">prod</span>
            <span class="label label-outline" ng-class="{hidden : !$index%2==0}">staging</span>
            <span class="label label-outline" ng-class="{hidden : $index%4==0}">app</span>
            <span class="label label-outline" ng-class="{hidden : $index%5==0}">db</span>
          </td>
          <td>{{entity.ip_addresses.access_ip1_v4}}</td>
          <td><div spark></div></td>
          <td><div spark></div></td>
          <td><div spark></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
