<h2 class="page-title">Entities</h2>
<button type="button" class="btn btn-primary">Add Entity</button>
<button type="button" class="btn btn-default">Remove</button>
<div class="table-responsive">
  <table class="table" style="margin-top:10px;" ng-show="servers.length > 0">
    <thead>
      <tr>
        <th></th>
        <th>Label</th>
        <th>ID</th>
        <th>IPv4</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="server in servers">
        <td><input type="checkbox"></td>
        <td>
          <a href="/proxy/cloudMonitoring/entities/{{server.id}}" title="{{server.id}}">{{server.label}}</a>
          <span ng-if="server.uri" class="iconic iconic-cloud" title="Rackspace Cloud Product" aria-hidden="true" style="padding-left:5px; color: #666;"></span>
        </td>
        <td>{{server.id}}</td>
        <td>{{server.ip_addresses.access_ip1_v4}}</td>
      </tr>
    </tbody>
  </table>
</div>
